body {
   width: 500px;
    margin: 0 auto;
    font-family: Verdana,Arial,Sans;
    font-size: 12px;
    background:#CCCCCC;
    color: black;
}
#bilan{
  width: 450px;
  padding: 25px;
}
#recap{
    width: 400px;
    height: 200px;
    padding-left: 10px;
    margin-bottom: 25px;
    background-color: #ffffff;
}
footer {
    font-family: Verdana,Arial,Sans;
    font-size: 12px;
    color: black;
    text-align: center;
    margin-top: 15px;
    padding: 10px 0px 10px 0px;
}
#titre{
    font-family: Verdana,Arial,Sans;
    font-size: 16px;
    color: red;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
#animation{
    border: 1px solid black;
    width: 400px;
    height: 500px;
    background-color: #fff;
}
#accueil{
    padding-top: 10px;
    padding-bottom: 10px;
}
#boutonAccueil{
  float:right;
  padding-right: 30px;
}
#boutonRejouer{
    float:right;

}

#jeu{
    width: 450px;
    padding: 25px;
}
#consigne{
    padding-top: 10px;
    padding-bottom: 10px;
}
#boutonQuitter{
    float:right;
    padding-right: 40px;
    padding-top: 10px;
}
#boutonJeu{
    float:right;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
